:root {
  --color-white: rgb(255,255,255);
  --color-black: rgb(0,0,0);

  --color-gray-1:  rgb(245, 245, 245);
  --color-gray-5:  rgb(232, 233, 234);
  --color-gray-10: rgb(227, 227, 227);
  --color-gray-20: rgb(177, 178, 181);
  --color-gray-30: rgb(123, 125, 133);
  --color-gray-40: rgb(100, 102, 106);
  --color-gray-50: rgb(48, 50, 54);
  --color-gray-60: rgb(31, 31, 31);

  /* --color-gray-5-05:  rgba(232, 233, 234, 0.5); */

  --font-size-main: 4vh;
  --font-size-small: 3vh;
}

main > * {
  font-family: "Lora";
}

body {
  margin: 0px;
  overscroll-behavior: contain;

}

#app {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-size: var(--font-size-main);
  padding: 2vh 4vh;
  border-radius: 6vh;
}

.button.button-main {
  background-color: #BAA0EC;
}

.button.button-green {
  background-color: #8AAE7E;
}

/* --- SECTION: [...] --- */

.layout {
  background-color: var(--color-black);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.layout .notice {
  color: white;
  font-size: 3vh;
  /* display: flex; */
  /* justify-content: center; */
  width: 100vw;
  padding: 20vw;
  text-align: center;
}

.layout .notice-overlay {
  z-index: 1000;
  color: white;
  background-color: black;
  font-size: 3vh;
  display: flex;
  width: 100vw;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.player-avatar {
  /* outline: 1px solid white; */
  width: 15vh;
  height: 11vh;
  position: relative;
}

.player-avatar > svg {
  width: 100%;
  height: 100%;
}

.player-avatar .eyes {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

}
.player-avatar .eye {
  width: 14%;
  height: 12%;
  background: #fff;
  display: inline-block;
  margin: 3%;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.player-avatar .ball {
  width: 0.6vh;
  height: 0.6vh;
  background: var(--color-black);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
}

.screen {
  color: white;
  display: flex;
  margin: 0px;
  flex-direction: column;
}

.screen > .header, .screen > .footer {
  height: 3.5vh;
  width: 100vw;
  background: black;

  /* outline: 1px solid green; */
}

.screen .left-sidebar {
  /* outline: 1px solid white; */
  width: 6vw;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.screen .left-sidebar .logo {
  /* outline: 1px solid red; */
  padding: 1vw 0vh;
}
.screen .left-sidebar .logo > img {
  width: 2.5vw;
}

.screen .left-sidebar .draw-buttons .finish-turn {
  background: rgba(200, 200, 20, 0.1);
}

.screen .spacer {
  flex-grow: 1;
}

.screen .left-sidebar .connection-status {
  width: 1vw;
  height: 1vw;
  background: green;
  border: 1px solid green;
  border-radius: 2vw;
}

.screen .left-sidebar .draw-buttons .button {
  width: 3vw;
  height: 3vw;
  padding: unset;
  margin: 3vh 0vh;
}

.screen .left-sidebar .draw-buttons .button.selected {
  background: #FFA841;
  border: 1px solid #FFA841;
  border-radius: 3vw;
}

.screen .left-sidebar .draw-buttons svg {
  fill: white;
  width: 100%;
  height: 100%;
}

.screen .right-sidebar {
  /* outline: 1px solid green; */
  width: 12vw;
}

.screen .right-sidebar {
  display: flex;
  flex-direction: column;
}

.screen .right-sidebar .participants {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
  padding: 1vw 0vh;
}

.screen .right-sidebar .participants .player-avatar {
  width: 6vw;
  height: 4vw;
}


.screen .right-sidebar .greetings {
  /* outline: 1px solid red; */
  display: flex;
  justify-content: center;
  padding: 1vh 0vh;
}


.screen .main-content {
  display: flex;
  flex-grow: 1;
  height: 93vh;
}

.screen .main-panel {
  display: flex;
  width: 82vw;
}

/* --- START SCREEN --- */

.screen-start {
  font-size: var(--font-size-main);
}

.screen-start .actions {
  display: flex;
  justify-content: center;
}

.screen-start .form {
  display: flex;
  justify-content: center;
}

.screen-start .form input {
  padding:2vh;
  border: 0px;
  border-bottom: 1px solid white;
  background-color: black;
  font-size: var(--font-size-main);
  color: white;
  text-align: center;
}

.screen-start .button {
  font-size: var(--font-size-main);
}

.screen-start > div:not(:last-child) {
  margin-bottom: 5vh;
}

/* --- ROOM SCREEN --- */

.screen-wait {
  /* width: 100%; */
  /* height: 100%; */
}

.screen-wait .main-panel {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 94vw;
}

.screen-wait .profile {
  /* outline: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 60vw;
  font-size: var(--font-size-main);
}

.screen-wait .profile > div:not(:last-child) {
  margin-bottom: 4vh;
}

.screen-wait .profile .message {
  padding: 0px 30px;
  text-align: center;
  font-size: var(--font-size-main);
}

.screen-wait .share-link .circle-button > .label {
  padding-top: 4vh;
}


.screen-wait .participants {
  display: flex;
  /* outline: 1px solid white; */
  margin-top: 10vh;
  font-size: var(--font-size-small);
}

.screen-wait .participant {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.screen-wait .participant:not(:last-child) {
  margin-right: 2vw;
}


.screen-wait .participant .player-avatar {
  /* outline: 1px solid red; */
  width: 11vh;
  height: 7vh;
}

.screen-wait .participants .avatar > svg {
  width: 100%;
  height: 100%;
}



.share-link {
  /* border: 1px solid white; */
  overflow: hidden;
  width: 30vh;
  height: 30vh;
  position: fixed;
  bottom: 0;
  right: 0;
}

.share-link .share-link-container {
  transform: translate(9vh, 10vh) rotate(-45deg);
  font-size: var(--font-size-small);
  align-items: center;
  display: flex;
  flex-direction: column;
}

.share-link .circle-button {
  margin-top: 2vh;
  border: 1vh solid white;
  width: 20vh;
  height: 20vh;
  display: flex;
  justify-content: center;
  border-radius: 20vh 20vh;
  user-select: none;
}

.share-link .label {
  font-size: var(--font-size-small);
  text-align: center;
  color: white;
  text-decoration: none;
  /* outline: 1px solid red; */
}




/* --- DRAW SCREEN --- */


.screen-draw {
  /* outline: 1px solid white; */
  display: flex;
  width: 100vw;
  height: 100vh;
}

.screen-draw .main-panel {
  /* outline: 1px solid cyan; */
  background-color: white;
  width: 100%;
  height: 100%;
}

.screen-draw .main-panel .draw-panel {
  width: 100%;
  height: 100%;
  position: relative;
}

.screen-draw .main-panel .draw-panel .top-overlay {
  background-color: rgba(100,10,10,0.1);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
}

.screen-draw .main-panel .draw-panel .bottom-overlay {
  background-color: rgba(30,100,30,0.1);
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
}

.screen-draw .main-panel .draw-panel canvas {
  width: 100%;
  height: 100%;
}


/* ----- SCREEN END ------ */

.screen-end {}

.screen-end .main-panel {
  display: flex;
  width: 82vw;
  overflow-x: auto;
}

.screen-end .drawing {
  width: 100%;
  display: flex;
  background-color: rgba(255,255,255,0.9);
  flex-direction: column;
  /* border-radius: 0.5vw; */
}

.screen-end .drawing img {
  width: 100%;
  height: 100%;
}

.screen-end .drawing-container {
  background-color: white;
}

.screen-end .right-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.screen-end .right-sidebar svg {
  width: 100%;
  height: 100%;
  fill: white;
}

.screen-end .right-sidebar .navigation {
  height: 10vh;
  width: 10vw;
  /* outline: 1px solid red; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.screen-end .right-sidebar .navigation > div {
  /* outline: 1px solid green; */
  width: 7vh;
  height: 7vh;
  cursor: pointer;
}

.screen-end .right-sidebar .download {
  margin-top: 2vh;
  height: 10vh;
  width: 10vh;
  background: #F37D58;
  border-radius: 10vh;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
}
.screen-end .right-sidebar .download > div {
  height: 6vh;
  width: 6vh;
  /* outline: 1px solid white; */
}

.footer .progress-bar {
  width: 100vw;
  height: 100%;
}

.footer .progress-bar .position {
  background: #F37D58;
  width: 0vw;
  height: 100%;
}


